
.aboutus-card
{
    width: auto;
    height: auto;
    display: inline-block;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #ffffff;

}
.aboutus-card h5
{
    margin-top: 6px;
    margin-left: 7px;
    font-size: 15px;
    font-weight: 500;

}

.aboutus-card .member-title
{
    margin-top: 6px;
    margin-left: 7px;
    font-size: 15px;
    font-weight: 400;
}

.card-body-text
{
    height: auto;
    padding: 10px;
    margin-top: 0px;
}