@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@400;500&display=swap');

/* Preload Screen */
#loader{
position: fixed;
z-index: 4;
width: 100%;
height: 100%;

-webkit-animation: fadeout 3s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadeout 3s; /* Firefox < 16 */
    -ms-animation: fadeout 3s; /* Internet Explorer */
     -o-animation: fadeout 20s; /* Opera < 12.1 */
        animation: fadeout 3s;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
#loader img
{
    height: 100%;
    width: 100%;
}

body
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Roboto;
    background-color: #ffffff;
}
/* Header Section */
header
{
    display: grid;
    grid-template-columns: 1fr 2fr 7fr 1fr;
    grid-column: 1/-1;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    height: 100px;
    /* background: rgba(76, 175, 80, 0); */
    background-color: #0297a6;
    z-index: 3;
    box-shadow: 0 5px 37px rgb(0, 0, 0, 0.5);
}

.img-container-header
{
    grid-column: 2/3;
}
.logo
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 140px;

}

nav
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    grid-column: 3/4;
    right: 0;
    text-transform: uppercase;
}

header nav a 
{
    font-family: "Founders Grotesk Cond Med",sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 30px 5px 20px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

header nav div span
{
    font-family: "Founders Grotesk Cond Med",sans-serif;
    text-decoration: none;
    font-size: 16px;
    padding: 32px 0;
    color: #ffffff;
}

.dropbtn {

    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #fff;
    margin-top: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    border: 1px;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
/* Main Section */

main
{
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/-1;
    background-color: #ffffff;
    margin-bottom: 20px;
}
.hero
{
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    position: relative;
    min-width: 100%;
    height: 430px;
    background-image: url("https://images.pexels.com/photos/1465892/pexels-photo-1465892.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 72px 0px 72px 0px;
}

@media (max-width: 767px) {
    #video-hero {
        display: none;
    }
}

.hero-text {
    z-index: 2;
    position: absolute;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    top: 46%;
    transform: translateY(-50%);
}

.background-overlay
{
    background-color: #0000006b;
    opacity: 0.8;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.hero-text h1
{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 44px;
}

.hero-text p
{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    line-height: 39px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px; 
    margin-top: 30px;   
}

.hero-text a
{
    font-weight: 600;
    color: #ffffff;
    background-color: #ff6600;
    border-radius: 3px 3px 3px 3px;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    text-decoration: none;
}

/* Articles Section  */

#articles
{
    display: grid;
    height: auto;
    grid-template-columns: 1fr 5fr 1fr;
}

.container
{
    grid-column: 2/3;
}

#articles h2
{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.articles-intro
{
    padding-bottom: 4rem;
    padding-top: 4rem;
}
.articles-card
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.category-box
{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    height: 200px;
    width: 350px;
    margin: 10px;
}

.articles-card h3
{
    text-align: center;
    padding: 30px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-right:auto;
    margin-left: auto;
    margin-top: 30px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin-right:auto;
    margin-left: auto;
  }

.main-container
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
}
#contact{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    margin: 50px 0;
    text-align: center;
    font-size: 28px;
    position: relative;
    background-color: #ffffff;
}
#contact:after {
    content: '';
    width: 20%;
    border-bottom: solid 1px rgb(0, 0, 0);
    position: absolute;
    left: 40%;
    top: 50%;
    z-index: 1;
  }
  #contact h3{
    background-color: #ffffff; /* Same as the parents Background */
    width: auto;
    display: inline-block;
    z-index: 2;
    padding: 0 20px 0 20px;
    color: rgb(0, 0, 0);
    position: relative;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    margin: 0;
  }
.contact-container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
}
/*--------------------- Modal ----------------------*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    margin-top: 150px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


/*--------------------- Footer  --------------------*/

footer
{
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    background-color: #0297a6;
    height: auto;
    bottom: 0;
    grid-column: 1/-1;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    z-index: 4;
    font-size: 18px;
    font-weight: 500;
}
.copy-rights
{
    grid-column: 2/3;
    margin: 5px;
}
.footer-link
{
    grid-column: 3/4;
}
.social-icon
{
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
    color: #fff;
    margin: 5px;
}
.footer-form
{
    grid-column: 1/-1;
}



