@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@400;500&display=swap');

/* Preload Screen */
#loader{
position: fixed;
z-index: 4;
width: 100%;
height: 100%;

-webkit-animation: fadeout 2.5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadeout 2.5s; /* Firefox < 16 */
    -ms-animation: fadeout 2.5s; /* Internet Explorer */
     -o-animation: fadeout 2.5s; /* Opera < 12.1 */
        animation: fadeout 2.5s;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 0.9; }
    to   { opacity: 0; }
}
#loader img
{
    height: 100%;
    width: 100%;
}

body
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Roboto;
}
/* Header Section */
header
{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-column: 1/-1;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    height: 100px;
    background-color: #000000;
    z-index: 3;
}
.img-container-header
{
    grid-column: 2/3;
}
.logo
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 140px;

}

nav
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    grid-column: 3/4;
    right: 0;
    text-transform: uppercase;
}

header nav a 
{
    font-family: "Founders Grotesk Cond Med",sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    padding: 32px 5px;
    color: #ffffff; 
}

header nav div span
{
    font-family: "Founders Grotesk Cond Med",sans-serif;
    text-decoration: none;
    font-size: 16px;
    padding: 32px 0;
    color: #ffffff;
}

.dropbtn {

    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #fff;
    margin-top: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    border: 1px;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
/* Main Section */

main
{
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/-1;
}
.hero
{
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    position: relative;
    min-width: 100%;
    height: 400px;
}
#video-hero
{
    position: absolute;
    z-index: 1;
    top: 0;
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    opacity: 0.4;
    
}

@media (max-width: 767px) {
    #video-hero {
        display: none;
    }
}

.hero-text {
    z-index: 2;
    position: absolute;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.hero-text h1
{
    font-weight: 600;
    font-size: 35px;
    margin: 0 0 20px 0;
    padding-top: 70px;
    padding-left: 20px;
    max-width: 40%;
}

.hero-text p
{
    font-weight: 400;
    font-size: 25px;
    margin: 0 0 20px 0;
    padding-left: 20px;
    max-width: 40%;
}

/* Articles Section  */

#articles
{
    display: grid;
    height: auto;
    grid-template-columns: 1fr 5fr 1fr;
}

.container
{
    grid-column: 2/3;
}

#articles h2
{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.articles-intro
{
    padding-bottom: 4rem;
    padding-top: 4rem;
}
.articles-card
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.category-box
{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    height: 200px;
    width: 350px;
    margin: 10px;
}

.articles-card h3
{
    text-align: center;
    padding: 30px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #111;
    margin-right:auto;
    margin-left: auto;
    margin-top: 30px;
    border-radius:  20px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
      width: 50%;
    color: #999;
    font-size: 30;
    background-color:  #111;
    font-size: 100px;
    float: left;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: darkgrey;
    color: black;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color:darkgrey;
    color: black;

  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    margin-right:auto;
    margin-left: auto;
  }

.main-container
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}


#form-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background: #111;
    line-height: 1.8;
    border-radius: 30px;
    margin-bottom: 50px;
}
#form-container h1{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color:  white;
    font-weight: 400;
}
#form-container h2{
    font-size: 20px;
}
form{
    padding: 40px 70px 70px 70px;
    color:  #999;
}
.input1,select{
    border: none;
    border-bottom: 1px solid #999;
    background-color: transparent;
    font-weight: 400;
    color:  #999;
    width: 90%;
}
.input2{
    width: 0px;
    height: 0px;
}
label{
    color:  #999;
}
.radio-label-male{
    color : white;
    padding: 5px 8px 4px 8px;
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(25, 52, 126);
    border-radius: 20px;
}
.radio-label-female{
    color : white;
    padding: 5px 10px 4px 10px;
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(25, 52, 126);
    border-radius: 20px;
}
.radio-label-male.active ,.radio-label-female.active {
    background: #4d73f0;
}
#submit1,#submit2{
    color: #fff;
    background: #925f28;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 150px;
    padding: 10px 20px 10px 20px;
    margin-left: 30%;
    font-size: 18px;
  transition: 1s;
}
#submit1:hover , #submit2:hover{
    transition: 500ms;
    background: #f38713;
}
.submitDiv{
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

/*--------------------- Footer  --------------------*/

footer
{
    background-color: #000000;
    height: auto;
    bottom: 0;
    grid-column: 1/-1;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}